button {
	width: 50px;
	height: 50px;
}

.line {
	display: flex;
}

.baseColor:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(230, 121, 143);
}

.baseColor {
    background-color: rgb(231, 193, 212);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    border-width: 1px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) , 0.4s;
    margin: 1px;
}

.result input {
    width: 206px;
    height: 50px;
    margin: 1px;
}   

